.section2 {
    text-align: left;
    background-color: $gray-100;
    padding: 30px 20%;

    h2 {
        font-size: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
}

@import "../../element/ul1/ul1";
