{{define "section2"}}
    <section class="section2">
        <div>
            <h2>Components</h2>
            <p>They are created by placing <code>.js, .html, .css</code> files into the same folder under <code>pages</code> folder</p>
        </div>
    </section>
        {{block "ul1" .}} {{end}}
{{end}}