{{define "ul1"}}
    <section class="ul1">
        <p>Example of an embedded component</p>
        <ul class="list">
            <li>list1</li>
            <li>list2</li>
            <li>list3</li>
        </ul>
    </section>
{{end}}