.section1 {
    padding: 20% 20% 10%;
    text-align: center;
    background: $gray-300;
    color: $gray-900;

    h1 {
        font-size: 40px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    p a {
        text-decoration: underline;
        color: $gray-700;
    }

    .button {
        position: relative;
        background-color: $gray-600;
        border: none;
        font-size: 18px;
        color: $gray-100;
        padding: 12px;
        width: 150px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        border-radius: 75px;
        margin-top: 25px;
    }

    .button:after {
        content: "";
        background: $gray-500;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }

    .button:hover {
        background-color: $gray-700;
    }
}