{{define "meta"}}
<meta charset="UTF-8">
<title>{{.Meta.Title}}</title>
<meta name="description" content="{{.Meta.Description}}">
<meta name="keywords" content="{{.Meta.Keywords}}">
<meta name="author" content="{{.Meta.Author}}">
<meta name="theme-color" content="{{.Meta.ThemeColor}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{end}}