{{define "social"}}
<meta property="og:title" content="{{.Social.OgTitle}}">
<meta property="og:type" content="{{.Social.OgType}}">
<meta property="og:url" content="{{.Social.OgURL}}">
<meta property="og:image" content="{{.Social.OgImagePath}}">
{{end}}